@import '@styles/mixins';
@import '@styles/vars';

.container {
  border-radius: 10px;
  border: 1px solid var(--secondary-border-color);

  .top {
    @include img-container();
    width: 100%;
  }

  .bottom {
    padding: $distinct-12;

  }
}