:root { 
  --color-primary-start: #5869DA80;
  --color-primary-end: #5869DA00;
  // --color-primary-end: #2b42d9;
  
  --color-bg: #f1f2f3;
  --color-mode: "light";
  --color-muted: #687385;
  --color-primary: #5869DA;
  --color-secondary: #3b415d;
  --color-success: #09815C;
  --color-danger: #e3363e;
  --color-warning: #e38836;
  --color-info: #4da7d4;
  // --color-light: #f8f9f9;
  --color-grey: #f7f8f9;
  --color-dark: #000c2d;
  --color-white: #FFFFFF;
  --primary-border-color: #9b9b9b;
  --secondary-border-color: #f0f8ff;
  --mutted-border-color: #eaecee;
  --default-font-color: #212529;
  --dot-color: var(--primary-border-color);
  --box-shadow-normal: 0 10px 10px rgba(0,0,0,0.08);
  --box-shadow-hover: 0 4px 60px 0 rgba(0,0,0,0.2);
  --button-shadow-color-normal: hsla(0,0%,42.4%,0.2);
  --button-shadow-color-hover: hsla(0,0%,42.4%,0.3);
  --color-light: #898b8f;

  --color-pagination-default: #889097;
  --color-pagination-active: var(--color-white);
  --color-pagination-active-bg: #007bff;
  --color-pagination-disabled: var(--color-pagination-default);
  --color-pagination-disabled-bg: #f5f6f7;
}