.divider {
  background-color: var(--primary-border-color);

  &.horizontal {
    width: 100%;
    height: 1px;
    margin: var(--card-distance) 0;
  }

  &.vertical {
    transform: translateY(-.1em);
    display: inline-block;
    width: 1px;
    height: 0.9em;
    vertical-align: middle;
  }
}
