$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$media: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl
);

$padding-1: 12px;
$padding-2: 16px;
$padding-3: 20px;
$padding-4: 24px;

$text-1: 12px;
$text-2: 14px;
$text-3: 16px;
$text-4: 18px;
$text-5: 20px;

$nav-active-dot-size: 6px;

$active-shadow-start: 0 0 0 0 var(--color-primary-start);
$active-shadow-end: 0 0 0 $nav-active-dot-size var(--color-primary-end);

